.add-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-modal form {
  background-color: #a3b18a;
  color: #344e41;
  width: 50vw;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.add-modal form label {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.add-modal form label textarea {
  resize: vertical;
  max-height: 250px;
	min-height: 100px;
	width: 100%
}
