body {
	margin: 0;
}

.login-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login {
	background-color: #588157;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 40vw;
	gap: 30px;
	padding: 40px 0;
	border-radius: 5px;
}

.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;
}

.login-form label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 5px;
}

.login-form button {
	margin-top: 20px;
}